<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="/images/startbackimg.png" th:width="80" height="80">
<h1><a th:href="@{/xinhai/}">进入系统</a></h1>
<a href="weixin://contacts/profile/OJXIXWAQCIWOANTTSRPG1FD8GUXM">加好友</a>
<a style="background: #ff000f" th:href="@{/tt}" >ttttddd</a>
<p th:text="${tt}"/>
<a th:href="@{/logout}">logout</a>
<h1 th:text="${#servletContext.contextPath}"></h1>

<p th:text="${role.rolename}"></p>
</body>
</html>