<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${param.error}">
    <p>用户名或密码无效</p>
</div>
<form action="/login/form" method="post">

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <input name="username" th:type="text"/> <br/>
    <input name="password" th:type="password"/> <br/>
    <input type="checkbox" name="remember-me" value="true"/>记住我 <br/>
    <input type="submit" value="登录"></button>
</form>
</body>
</html>